<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc_mybatis.mapper.DepartmentBillMapper">
    <resultMap type="DepartmentBill" id="departmentBillResult">
        <result column="jbjgid" property="jbjgid"/>
        <result column="zdlsh" property="zdlsh"/>
        <result column="dwid" property="dwid"/>
        <result column="djzt" property="djzt"/>
        <result column="djlb" property="djlb"/>
        <result column="txr" property="txr"/>
        <result column="txsj" property="txsj"/>
        <result column="qrr" property="qrr"/>
        <result column="qrsj" property="qrsj"/>
        <result column="zje" property="zje"/>
        <result column="ryid" property="ryid"/>
        <result column="bz" property="bz"/>
    </resultMap>

    <select id="queryBills" resultMap="departmentBillResult">
SELECT * FROM (
SELECT A.* ,ROWNUM RN FROM
		(select zdlsh,dwid,sum(zje) as zje,txr,txsj,qrr,qrsj ,djlb,djzt from
		si3.bill_genl
		where
		dwid =#{dwid,jdbcType=VARCHAR}
		and to_char(txsj, 'yyyymmdd') >=#{txsj}
		AND  djzt =#{djzt} group by zdlsh,dwid,txr,txsj,qrr,qrsj ,djlb,djzt ) A
		WHERE ROWNUM &lt; #{next}
		) WHERE RN >=#{pre}
	</select>
    <select id="queryCount" resultType="int">
        SELECT  count(*)  FROM si3.bill_genl
         where dwid =#{dwid,jdbcType=VARCHAR}
		and to_char(txsj, 'yyyymmdd') >=#{txsj}
		AND  djzt =#{djzt}
    </select>

    <insert id="addRebackBill">

        insert into si3.bill_genl
        (zdlsh,jbjgid,dwid,djzt,djlb,txr,txsj,qrr,qrsj,zje,ryid)
        values(${zdlsh},${jbjgid},${dwid},0,'SI1002',#{txr,jdbcType=VARCHAR},
       SYSDATE,#{qrr,jdbcType=VARCHAR},SYSDATE,${zje},${ryid})
    </insert>
    <insert id="addBillDel">
        insert into si3.bill_detl
        (zdlsh,xzbz,jfxmbh,qsny,zzny,jfje) VALUES (${zdlsh},${xzbz},#{jfxmbh,jdbcType=VARCHAR},${qsny},${zzny},${jfje})
    </insert>
    <select id="queryZDLSH" useCache="false" flushCache="true" resultType="String">
 select si3.sq_zdlsh.nextval from dual
</select>
    <update id="modifyStatusByDwid" parameterType="java.util.List">
        update si3.bill_genl set djzt=${djzt}
        WHERE
        dwid=${dwid,jdbcType=VARCHAR} AND
        <foreach collection="zdlshs" index="index" item="item" open="(" separator="or" close=")">
            zdlsh=#{item.zdlsh,jdbcType=VARCHAR}
        </foreach>
    </update>

    <insert id="addBillForWriteOff" parameterType="java.util.List">
        <foreach collection="list" open="begin" item="item" index="index" close=";end;" separator=";">
            INSERT INTO si3.bill_genl(zdlsh,dwid,RYDJID, DWID,XZBZ,FSRQ,JFRQ, QSNY, ZZNY,
            DWJFJS, GRJFJS, DWJFBL, GRJFBL, DWJFE,GRJFE, DWJFZE, GRJFZE, ZDLSH,JBJGID,
            BZ, JBR, JBSJ,LX, XGBZ )
            VALUES (SI3.SQ_JFLSID.NEXTVAL,${RYID},${RYDJID}, ${DWID},${XZBZ},${FSRQ},${JFRQ}, ${QSNY}, ${ZZNY},
            ${DWJFJS}, ${GRJFJS}, ${DWJFBL}, ${GRJFBL}, ${DWJFE},${GRJFE}, ${DWJFZE}, ${GRJFZE}
            , ${ZDLSH},${JBJGID},${BZ}, ${JBR}, ${JBSJ},${LX}, ${XGBZ})
        </foreach>
    </insert>
    <select id="queryCountByRyid" resultType="int">
        SELECT  COUNT (*) FROM si3.bill_genl where ryid=#{ryid,jdbcType=VARCHAR}
    </select>
    <select id="queryBillsByRyid" resultMap="departmentBillResult">
         SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
        (select * from
        si3.bill_genl a
        WHERE  a.ryid =#{ryid,jdbcType=VARCHAR}) A
        WHERE ROWNUM &lt; ${next}
        ) WHERE RN >=${pre}
    </select>
    <insert id="rebackPaymentByDWID" parameterType="DepartmentBill">
         INSERT INTO si3.bill_genl(zdlsh,dwid,djzt,djlb,txr,txsj,qrr,qrsj,zje,jbjgid)
            VALUES (#{bill.zdlsh,jdbcType=VARCHAR},#{bill.dwid,jdbcType=VARCHAR},${bill.djzt}
            , ${bill.djlb},#{bill.txr,jdbcType=VARCHAR},SYSDATE
            ,#{bill.qrr,jdbcType=VARCHAR},SYSDATE, ${bill.zje},${bill.jbjgid})
    </insert>
</mapper>