<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc_mybatis.mapper.PaymentHistoryMapper">
    <resultMap type="PaymentHistory" id="paymentHistoryResult">
        <result column="JFLSID" property="JFLSID"/>
        <result column="RYID" property="RYID"/>
        <result column="RYDJID" property="RYDJID"/>
        <result column="DWID" property="DWID"/>
        <result column="XZBZ" property="XZBZ"/>
        <result column="FSRQ" property="FSRQ"/>
        <result column="JFRQ" property="JFRQ"/>
        <result column="QSNY" property="QSNY"/>
        <result column="ZZNY" property="ZZNY"/>
        <result column="DWJFJS" property="DWJFJS"/>
        <result column="GRJFJS" property="GRJFJS"/>
        <result column="DWJFBL" property="DWJFBL"/>
        <result column="GRJFBL" property="GRJFBL"/>
        <result column="DWJFE" property="DWJFE"/>
        <result column="GRJFE" property="GRJFE"/>
        <result column="DWJFZE" property="DWJFZE"/>
        <result column="GRJFZE" property="GRJFZE"/>
        <result column="ZDLSH" property="ZDLSH"/>
        <result column="JBJGID" property="JBJGID"/>
        <result column="BZ" property="BZ"/>
        <result column="JBR" property="JBR"/>
        <result column="JBSJ" property="JBSJ"/>
        <result column="LX" property="LX"/>
        <result column="ZJE" property="ZJE"/>
        <result column="FSYY" property="FSYY"/>
        <result column="grjfes" property="grjfes"/>
        <result column="dwjfes" property="dwjfes"/>
        <result column="lxs" property="lxs"/>
        <result column="tfbz" property="tfbz"/>
        <association property="staff"
                     column="RYID"
                     select="selectStaffBystaffRYID">

        </association>
    </resultMap>
    <!--select * from #T a where ID=(select min(ID) from #T where Name=a.Name)-->
    <select id="queryBillsWithoutInterest" resultMap="paymentHistoryResult">
       SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
		(select  a.RYID ,sum(a.grjfze) as ZJE from
		si3.aged_pay_his a
		WHERE  a.DWID =#{dwid,jdbcType=VARCHAR} AND  a.LX IS NULL  group by ryid) A
		WHERE ROWNUM &lt; ${next}
		) WHERE RN >=${pre}
    </select>
    <select id="queryBillsWithInterest" resultMap="paymentHistoryResult">
        SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
        (select  a.RYID ,sum(a.grjfze) as ZJE from
        si3.aged_pay_his a
        WHERE  a.DWID =#{dwid,jdbcType=VARCHAR} AND a.LX IS not NULL group by ryid) A
        WHERE ROWNUM &lt; ${next}
        ) WHERE RN >=${pre}
    </select>

    <select id="queryByRyid" resultMap="paymentHistoryResult">
        SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
        (select * from
        si3.aged_pay_his a
        WHERE  a.RYID =#{ryid,jdbcType=VARCHAR}) A
        WHERE ROWNUM &lt; ${next}
        ) WHERE RN >=${pre}
    </select>

    <select id="queryInterestByRyid" resultMap="paymentHistoryResult">
        SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
        (select * from
        si3.aged_pay_his a
        WHERE  a.RYID =#{ryid,jdbcType=VARCHAR} AND  a.LX IS  NULL ) A
        WHERE ROWNUM &lt; ${next}
        ) WHERE RN >=${pre}
    </select>

    <select id="queryCountByRyidWithDate" resultType="int">

        select COUNT (*) from
        si3.aged_pay_his a
        WHERE  a.RYID =#{ryid,jdbcType=VARCHAR} AND a.QSNY>=${qsrq} AND a.QSNY&lt;=${zzrq}

    </select>

    <select id="queryByRyidWithDate" resultMap="paymentHistoryResult">
        SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
        (select * from
        si3.aged_pay_his a
        WHERE  a.RYID =#{ryid,jdbcType=VARCHAR} and a.QSNY>= ${qsrq} AND a.QSNY&lt;=${zzrq}) A
        WHERE ROWNUM &lt; ${next}
        ) WHERE RN >=${pre}
    </select>


    <select id="queryCountWithoutInterest" resultType="int">
    SELECT COUNT (DISTINCT RYID)
    FROM si3.aged_pay_his a
		WHERE  a.DWID =#{dwid,jdbcType=VARCHAR} AND  a.LX IS NULL
</select>


    <select id="queryCountWithoutInterestByRyid" resultType="int">
        SELECT COUNT (*)
        FROM si3.aged_pay_his a
            WHERE  a.RYID =#{ryid,jdbcType=VARCHAR} AND a.LX IS NULL
    </select>

    <select id="queryCountWithoutInterestByRyidWithDate" resultType="int">
        SELECT COUNT (*)
        FROM si3.aged_pay_his a
        WHERE  a.RYID =#{ryid,jdbcType=VARCHAR} AND a.LX IS NULL
        AND a.QSNY>=${qsrq} AND a.QSNY&lt;=${zzrq}
    </select>


    <select id="queryCountWithInterestByRyid" resultType="int">
        SELECT COUNT (*)
        FROM si3.aged_pay_his a
        WHERE  a.RYID =#{ryid,jdbcType=VARCHAR} AND  a.LX IS NOT NULL
    </select>

    <select id="queryCountByRyid" resultType="int">
 SELECT COUNT (*)
    FROM si3.aged_pay_his a
		WHERE  a.RYID =#{ryid,jdbcType=VARCHAR}
</select>

    <select id="queryCountWithInterest" resultType="int">
        SELECT COUNT (DISTINCT RYID)
        FROM si3.aged_pay_his a
        WHERE  a.DWID =#{dwid,jdbcType=VARCHAR} AND  a.LX IS not NULL
    </select>
    <select id="selectStaffBystaffRYID" parameterType="string" resultType="Staff">
        SELECT * FROM si3.per_reg WHERE RYID=#{RYID,jdbcType=VARCHAR}
    </select>

    <update id="modifyInterest" parameterType="java.util.List">
        <foreach collection="list" open="begin" item="item" index="index" close=";end;" separator=";">
            UPDATE si3.aged_pay_his SET LX=${item.LX} WHERE DWID=#{item.DWID,jdbcType=VARCHAR}
            AND RYID=#{item.RYID,jdbcType=VARCHAR} AND ${item.QSNY } BETWEEN QSNY AND ZZNY
        </foreach>

    </update>

    <update id="modifyInterestByRyid" parameterType="java.util.List">
        <foreach collection="list" open="begin" item="item" index="index" close=";end;" separator=";">
            UPDATE si3.aged_pay_his SET LX=${item.LX} WHERE RYID=#{item.RYID,jdbcType=VARCHAR}
            AND QSNY=${item.QSNY }
        </foreach>
    </update>

    <update id="clearInterest">
        UPDATE si3.aged_pay_his SET LX=NULL WHERE DWID=${dwid} AND
        <foreach collection="ryids" index="index" item="ryid" open="(" separator="or" close=")">
            RYID IN #{ryid,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="cancelInterestByRyid">
        UPDATE si3.aged_pay_his SET LX=NULL WHERE RYID=#{ryid,jdbcType=VARCHAR}
    </update>

    <update id="modifyPaymentHistory" parameterType="java.util.List">
        <foreach collection="list" open="begin" item="item" index="index" close=";end;" separator=";">
            UPDATE si3.aged_pay_his SET QSNY=${item.QSNY}, ZZNY=${item.ZZNY}
            ,DWJFE=${item.DWJFE},GRJFE=${item.GRJFE},DWJFZE=${item.DWJFE}
            ,GRJFZE=${item.GRJFE},JFRQ=#{item.JFRQ,jdbcType=TIMESTAMP},FSRQ=#{item.FSRQ,jdbcType=TIMESTAMP}

            WHERE RYID=#{item.RYID,jdbcType=VARCHAR}
            AND JFLSID=#{item.JFLSID,jdbcType=VARCHAR}
        </foreach>
    </update>

    <insert id="addPaymentHistory" parameterType="PaymentHistory">
        <foreach collection="list" open="begin" item="paymentHistoryResult" index="index" close=";end;" separator=";">
            INSERT INTO si3.aged_pay_his(JFLSID,RYID,RYDJID, DWID,FSRQ,JFRQ, QSNY, ZZNY,
            DWJFJS, GRJFJS, DWJFBL, GRJFBL, DWJFE,GRJFE, DWJFZE, GRJFZE, ZDLSH,JBJGID,
            JBR, JBSJ, FSYY ,XZBZ)
            VALUES (SI3.SQ_JFLSID.NEXTVAL,${paymentHistoryResult.RYID},${paymentHistoryResult.RYDJID}
            , ${paymentHistoryResult.DWID},#{paymentHistoryResult.FSRQ,jdbcType=TIMESTAMP}
            ,#{paymentHistoryResult.JFRQ,jdbcType=TIMESTAMP}, ${paymentHistoryResult.QSNY}
            , ${paymentHistoryResult.ZZNY},
            ${paymentHistoryResult.DWJFJS}, ${paymentHistoryResult.GRJFJS}
            , ${paymentHistoryResult.DWJFBL}, ${paymentHistoryResult.GRJFBL}
            , ${paymentHistoryResult.DWJFE},${paymentHistoryResult.GRJFE}
            , ${paymentHistoryResult.DWJFZE}, ${paymentHistoryResult.GRJFZE}
            ,SI3.SQ_ZDLSH.NEXTVAL,${paymentHistoryResult.JBJGID}, ${paymentHistoryResult.JBR},
            #{paymentHistoryResult.JBSJ,jdbcType=TIMESTAMP}, 9,${paymentHistoryResult.XZBZ})
        </foreach>
    </insert>

    <update id="rebackPaymentByRyId">

        <foreach collection="list" open="begin" item="item" index="index" close=";end;" separator=";">
            UPDATE si3.aged_pay_his
            SET GRJFE=${item.GRJFE} ,LX=${item.LX},GRJFZE=${item.GRJFZE}
            WHERE RYID=#{ryid,jdbcType=VARCHAR} AND QSNY = #{item.QSNY,jdbcType=VARCHAR}
        </foreach>
    </update>
    <select id="queryAmountByRyidWithDate" resultType="float">
        select sum(nvl(a.GRJFE, 0))+sum(nvl(a.LX, 0))
        from si3.aged_pay_his a
        where a.RYID=#{ryid,jdbcType=VARCHAR} AND
        <foreach collection="list" index="index" item="qsny" open="(" separator="or" close=")">
            a.QSNY IN #{qsny,jdbcType=VARCHAR}
        </foreach>

    </select>

    <select id="queryPaymentHisByRyids" resultMap="paymentHistoryResult" parameterType="java.util.List">
        SELECT * FROM si3.aged_pay_his WHERE DWID=${dwid} AND
        <foreach collection="ryids" index="index" item="ryid" open="(" separator="or" close=")">
            RYID IN #{ryid,jdbcType=VARCHAR}
        </foreach>
    </select>
    <select id="queryPaymentHisByZDLSH" resultMap="paymentHistoryResult">
         SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
        (select * from
        si3.aged_pay_his a
        WHERE  a.ZDLSH =#{zdlsh,jdbcType=VARCHAR}) A
        WHERE ROWNUM &lt; ${next}
        ) WHERE RN >=${pre}
    </select>

    <select id="queryCountByZDLSH" resultType="int">
       select  COUNT (*) from
        si3.aged_pay_his a
        WHERE  a.ZDLSH =#{zdlsh,jdbcType=VARCHAR}
    </select>

    <select id="queryAmountByZDLSH" resultMap="paymentHistoryResult">

        SELECT sum(GRJFE) as grjfes,sum(DWJFE) as dwjfes,sum(LX) as lxs ,JBR,JBSJ FROM  si3.aged_pay_his
        where ryid=#{ryid,jdbcType=VARCHAR} AND LX&lt;0 AND GRJFE&lt;0 group by JBR,JBSJ
    </select>

    <update id="rebackPaymentByDWID">
        UPDATE si3.aged_pay_his SET tfbz='1' WHERE  dwid=#{dwid,jdbcType=VARCHAR}
    </update>
    <select id="calPaymentByDWID" resultType="float">
        SELECT (sum(GRJFE)+sum(lx)) AS  ZJE WHERE  dwid=#{dwid,jdbcType=VARCHAR}
        AND  tfbz='1'
    </select>
    <select id="queryCountByDWID" resultType="int">
      select COUNT (*) from
        si3.aged_pay_his a
        WHERE  a.dwid =#{dwid,jdbcType=VARCHAR}
    </select>

    <select id="queryAllHistoryByDWID" resultMap="paymentHistoryResult">
        SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
        (select * from
        si3.aged_pay_his a
        WHERE  a.dwid =#{dwid,jdbcType=VARCHAR}) A
        WHERE ROWNUM &lt; ${next}
        ) WHERE RN >=${pre}
    </select>

    <select id="queryCountWithRebackByDWID" resultType="int">
        SELECT  COUNT (*)  FROM   si3.aged_pay_his  WHERE dwid =#{dwid,jdbcType=VARCHAR}
        AND tfbz='1'
    </select>

    <select id="queryAllDepartmentCount" resultType="int">
        SELECT  count(DISTINCT dwid) FROM   si3.aged_pay_his
    </select>
    <select id="queryDepartmentCountWithReback" resultType="int">
         SELECT  count(DISTINCT dwid) FROM   si3.aged_pay_his
         WHERE tfbz='1'
    </select>
    <select id="queryDepartmentCountWithoutReback" resultType="int">
        SELECT  count(DISTINCT dwid) FROM   si3.aged_pay_his
        WHERE tfbz='0'
    </select>

    <select id="queryRebackHistory" resultType="com.springmvc_mybatis.bean.DepartmentHistory">
         SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
        (select org.dwmc,org.dwbh as dwbh, sum(aph.grjfe) as grjfes
        , sum(aph.lx) as lxs ,(sum(aph.grjfe)+sum(aph.lx)) as zje
        from si3.aged_pay_his aph, si3.orgn_reg org
        where aph.tfbz = '1'
        and org.dwid = aph.dwid
          group by aph.dwid, org.dwmc,org.dwbh) A
        WHERE ROWNUM &lt; ${next}
        ) WHERE RN >=${pre}
    </select>

    <select id="queryNoRebackHistory" resultType="com.springmvc_mybatis.bean.DepartmentHistory">
        SELECT * FROM (
        SELECT A.*,ROWNUM RN FROM
        (select org.dwmc,aph.dwid,org.dwbh as dwbh, sum(aph.grjfe) as grjfes
        , sum(aph.lx) as lxs ,(sum(aph.grjfe)+sum(aph.lx)) as zje
        from si3.aged_pay_his aph, si3.orgn_reg org
        where aph.tfbz = '0'
        and org.dwid = aph.dwid
        group by aph.dwid, org.dwmc,org.dwbh) A
        WHERE ROWNUM &lt; ${next}
        ) WHERE RN >=${pre}
    </select>
</mapper>