<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc_mybatis.mapper.StaffMapper">
    <resultMap type="Staff" id="staffResult">
        <result column="RYID" property="RYID"/>
        <result column="RYDJID" property="RYDJID"/>
        <result column="DWID" property="DWID"/>
        <result column="CZBM" property="CZBM"/>
        <result column="YGRBH" property="YGRBH"/>
        <result column="GRBH" property="GRBH"/>
        <result column="SFZHM" property="SFZHM"/>
        <result column="XM" property="XM"/>
        <result column="CYM" property="CYM"/>
        <result column="XB" property="XB"/>
        <result column="CSRQ" property="CSRQ"/>
        <result column="SFXZ" property="SFXZ"/>
        <result column="cbrylb" property="cbrylb"/>
        <result column="MZ" property="MZ"/>
        <result column="TBLB" property="TBLB"/>
        <result column="TBLBMC" property="TBLBMC"/>
        <result column="CJGZSJ" property="CJGZSJ"/>
        <result column="JFLY" property="JFLY"/>
        <result column="HKXZ" property="HKXZ"/>
        <result column="DZ" property="DZ"/>
        <result column="DH" property="DH"/>
        <result column="GRSF" property="GRSF"/>
        <result column="RWSJ" property="RWSJ"/>
        <result column="DRSJ" property="DRSJ"/>
        <result column="ZYYY" property="ZYYY"/>
        <result column="JYYY" property="JYYY"/>
        <result column="JBJGID" property="JBJGID"/>
        <result column="BZ" property="BZ"/>
        <result column="XMPY" property="XMPY"/>
    </resultMap>
    <select id="queryStaff" resultMap="staffResult">
SELECT * FROM (
  SELECT A.* ,ROWNUM RN FROM
		(select * from
		si3.per_reg
		where  cbrylb =#{cbrylb} AND  DWID =#{dwid}
		) A
		WHERE ROWNUM &lt; #{next}
		) WHERE RN >=#{pre}

</select>
    <select id="queryCount" resultType="int">
        SELECT  count(*)
        FROM 	si3.per_reg
		where  cbrylb =#{cbrylb}
		 AND  DWID =#{dwid}
    </select>
    <insert id="saveStaff">
        <choose>
            <when test="sfzhm!=null">
                INSERT INTO si3.per_reg(RYID,RYDJID,DWID,CZBM,YGRBH,GRBH,
                SFZHM,XM,CYM,XB,CSRQ,SFXZ,cbrylb,MZ,TBLB,TBLBMC,CJGZSJ,
                JFLY,HKXZ,DZ,DH,GRSF,RWSJ,DRSJ,ZYYY,JYYY,JBJGID,BZ,XMPY)
                VALUES (SI3.SQ_RYID.NEXTVAL,SI3.SQ_RYDJID.NEXTVAL,#{dwid},#{czbm},#{sfzhm},#{sfzhm},#{sfzhm},
                #{xm},#{cym},#{xb},#{csrq},#{sfxz},#{cbrylb},#{mz},#{tblb},#{tblbmc},
                #{cjgzsj},#{jfly},#{hkxz},#{dz},#{dh},#{grsf},#{rwsj},#{drsj},
                #{zyyy},#{jyyy},#{jbjgid},#{bz},#{xmpy})
            </when>
            <otherwise>
                INSERT INTO si3.per_reg(RYID,RYDJID,DWID,CZBM,YGRBH,GRBH,
                SFZHM,XM,CYM,XB,CSRQ,SFXZ,cbrylb,MZ,TBLB,TBLBMC,CJGZSJ,
                JFLY,HKXZ,DZ,DH,GRSF,RWSJ,DRSJ,ZYYY,JYYY,JBJGID,BZ,XMPY)
                VALUES (SI3.SQ_RYID.NEXTVAL,SI3.SQ_RYDJID.NEXTVAL,#{dwid},#{czbm}
                ,SI3.SQ_GRBH.NEXTVAL,SI3.SQ_GRBH.NEXTVAL,#{sfzhm},
                #{xm},#{cym},#{xb},#{csrq},#{sfxz},#{cbrylb},#{mz},#{tblb},#{tblbmc},
                #{cjgzsj},#{jfly},#{hkxz},#{dz},#{dh},#{grsf},#{rwsj},#{drsj},
                #{zyyy},#{jyyy},#{jbjgid},#{bz},#{xmpy})
            </otherwise>
        </choose>

    </insert>

    <update id="modifyStaff">
        UPDATE si3.per_reg SET RYID=#{ryid},RYDJID=#{rydjid},CZBM=#{czbm},YGRBH=#{ygrbh},
        SFZHM=#{sfzhm},XM=#{xm},CYM=#{cym},XB=#{xb},CSRQ=#{csrq},SFXZ=#{sfxz},cbrylb=#{cbrylb},
        MZ=#{mz},TBLB=#{tblb},TBLBMC=#{tblbmc},CJGZSJ=#{cjgzsj},JFLY=#{jfly},
        HKXZ=#{hkxz},DZ=#{dz},DH=#{dh},GRSF=#{grsf},RWSJ=#{rwsj},DRSJ=#{drsj},
        ZYYY=#{zyyy},JYYY=#{jyyy},JBJGID=#{jbjgid},BZ=#{bz},XMPY=#{xmpy}  WHERE GRBH=#{grbh}

    </update>

    <select id="queryStaffInfo" resultMap="staffResult">
        SELECT * FROM (
        SELECT A.* ,ROWNUM RN FROM
        (select * from
        si3.per_reg
        where
      GRBH LIKE  concat(concat('%',#{GRBH}),'%')

            and XM LIKE concat(concat('%',#{XM}),'%')

            and SFZHM LIKE concat(concat('%',#{SFZHM}),'%')



       ) A
        WHERE ROWNUM &lt; #{next}
        ) WHERE RN >=#{pre}
    </select>

    <select id="queryStaffCount" resultType="int">
        select COUNT (*) from
        si3.per_reg
        where
        GRBH LIKE  concat(concat('%',#{GRBH}),'%')
        and XM LIKE concat(concat('%',#{XM}),'%')
        and SFZHM LIKE concat(concat('%',#{SFZHM}),'%')
    </select>


    <select id="queryStaffByGRBH" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT RYID  FROM si3.per_reg WHERE GRBH=#{grbh,jdbcType=VARCHAR}
    </select>

    <select id="queryStaffByRyid" resultMap="staffResult">
        SELECT *  FROM si3.per_reg WHERE RYID=${ryid}
    </select>
</mapper>