<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc_mybatis.mapper.UserMapper">
    <resultMap type="User" id="userResult">
        <result column="yhid" property="yhid"/>
        <result column="yhbh" property="yhbh"/>
        <result column="yhxm" property="yhxm"/>
        <result column="kl" property="kl"/>
        <result column="sfzhm" property="sfzhm"/>
        <result column="xb" property="xb"/>
        <result column="lxdh" property="lxdh"/>
        <result column="jbjgid" property="jbjgid"/>
        <result column="jbr" property="jbr"/>
        <result column="jbsj" property="jbsj"/>
        <result column="bz" property="bz"/>
    </resultMap>
    <select id="login" resultMap="userResult">
		select * from
		be3.sys_user
		where
		yhbh=#{yhbh}
		and kl=#{kl}
	</select>
    <insert id="register">

	INSERT  INTO be3.sys_user(yhid,yhbh,kl,yhxm,sfzhm,xb,lxdh,jbjgid,jbr,jbsj,bz)
	VALUES (SI3.SQ_YHID.NEXTVAL,#{yhbh},#{kl},#{yhxm},#{sfzhm},#{xb},#{lxdh},#{jbjgid},#{jbr},#{jbsj},#{bz})
    </insert>
    <select id="getAllUsers" resultMap="userResult">
		select *
		from be3.sys_user
	</select>
</mapper>
        <!-- error ,,,,resultMap wrong to resultType... -->