<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!-- 设置外部配置文件 -->
    <!-- 设置类别名 -->
    <typeAliases>
        <typeAlias type="com.springmvc_mybatis.bean.User" alias="User"/>
        <typeAlias type="com.springmvc_mybatis.bean.Department" alias="Department"/>
        <typeAlias type="com.springmvc_mybatis.bean.Staff" alias="Staff"/>
        <typeAlias type="com.springmvc_mybatis.bean.DepartmentBill" alias="DepartmentBill"/>
        <typeAlias type="com.springmvc_mybatis.bean.PaymentHistory" alias="PaymentHistory"/>
    </typeAliases>
    <!-- 设置数据库连接环境 -->
    <!-- 映射文件 -->
    <mappers>
        <mapper resource="com/springmvc_mybatis/mapper/userMapper.xml"/>
        <mapper resource="com/springmvc_mybatis/mapper/departmentMapper.xml"/>
        <mapper resource="com/springmvc_mybatis/mapper/staffMapper.xml"/>
        <mapper resource="com/springmvc_mybatis/mapper/departmentBillMapper.xml"/>
        <mapper resource="com/springmvc_mybatis/mapper/paymentHistoryMapper.xml"/>
    </mappers>

</configuration>